<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <!--上行监听IP地址,调试可使用http地址,正式使用请使用https地址-->
  <add key="ListeningAddress" value="http://127.0.0.1:8080/"/>
  <!--IOT应用ID和秘钥-->
  <add key="AppId" value=""/>
  <add key="AppKey" value=""/>
  <!--IOT平台IP地址-->
  <add key="AppIP" value="180.101.147.89"/>
  <add key="AppPort" value="8743"/>
  <!--证书名与证书私钥-->
  <add key="p12Certfile" value="iot3rd.p12"/>
  <add key="p12CertfilePwd" value="IoM@1234"/>
  <!--下发命令回调地址,调试可使用http地址,正式使用请使用https地址-->
  <add key="CallBackUrl" value="http://127.0.0.1:4435/"/>
  <!--下发命令过期时间,单位:秒,为0时代表立即下发命令到设备（不建议将过期时间设为0,因为极其容易下发失败）-->
  <add key="ExpireTime" value="7200"/>
  <!--服务ID-->
  <add key="ServiceId" value=""/>
  <!--命令ID-->
  <add key="CommandId" value=""/>
</appSettings>

</configuration>